.banner__img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 40vh;
}
/* Sección PRINCIPAL */
.titulo-principal {
    text-align: center;
    padding: 0% 0% 3%;
    font-size: 2em;
    clear: left;
}

.contenido-principal,
.contenido-diferenciales, .contenido-mapa {
    width: 940px;
    display: block;
    margin: 0 auto;
    padding: 2% 0em;
    text-align: justify;
}

.contenido-principal p {
    margin: 0px 0px 10px 0px;
}

.contenido-principal strong {
    font-weight: bold;
}

.contenido-principal em {
    font-style: italic;
}

.utensillos {
    width: 120px;
    float: left;
    margin: 0px 20px 20px 0px;
}

/* Sección MAPA */
.mapa{
    background-color: orange;
}

.contenido-mapa{
}

.mapa h3{
    font-size: 2em;
    text-align: center;
    padding: 0 0 3% 0;
}
.mapa p{
    padding: 0 0 3% 0;
    text-align: center;
}



/* Sección DIFERENCIALES */
.contenido-diferenciales {
}
.contenido-diferenciales h3 {
    text-align: center;
    font-size: 2em;
    padding: 0 0 3% 0%;
}

#diferenciales__lista {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    padding: 0 3% 0 0;
}
.items {
    font-style: italic;
    line-height: 1.5;

}
.items:nth-child(3), .items:nth-child(2) {
    font-weight: bold;
}

.diferenciales img {
    width: 60%;
}

.video{
    margin: 3% 0%;
    text-align: center;
}
.video h3{
    font-size: 2em;
    padding: 0 0 2% 0;
}